.header_container {
  display: grid;
  justify-items: center;
  padding-block: 1rem;
}

.header_container_title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000;
}

@media screen and (max-width: 600px) {
  .header_container_title {
    font-size: 1.8rem;
  }
}
